.App {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Container {
  background-color: #FFF;
  color: #70A9A1;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 4px;

  width: 50%;
  min-height: 60%;

  overflow: hidden;
}

.Form {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Usuarios {
  padding: 1rem;

  width: 100%;
  max-height: 250px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;

  overflow-y: auto;
  overflow-x: hidden;
}

.Usuario {
  background-color: #072448b7;
  color: #FFF;
  border-radius: 15px;
  padding: 1.1rem;
  text-overflow: ellipsis;
  overflow: hidden;
}

.Label {
  color: #ff6150;
  font-weight: 900;
  font-size: 4rem;

  margin-bottom: 2rem;
}

.Titulo {
  color: #041a33;
  font-weight: 900;
  font-size: 2.5rem;

  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.Input {
  width: 70%;
  padding: 1rem 1.5rem;

  color: #0B2027;
  background-color: #f1d15309;
  border: 1px solid #0B2027;
  border-radius: 4px;

  font-size: 1.5rem;
  font-weight: 900;

  outline: none;
}

.Button {
  width: 40%;
  padding: 0.8rem 0.9rem;

  background-color: #072448;
  color: #FFF;
  border: 0;
  border-radius: 5px;

  font-size: 2rem;
  font-weight: 900;

  cursor: pointer;
  margin-top: 2rem;
}

.Button:hover {
  background-color: #073874;
  color: #FFF;
}

.Button:active {
  background-color: #174b8b;
  color: #FFF;
}

.Error {
  color: #ff6150;
  font-size: 1.2rem;
  font-weight: 900;
  margin-top: 0.2rem;
}

@media (max-width: 800px) {
  .Container {
    width: 90% !important;
  }

  .Label {
    font-size: 3rem;
  }

  .Button {
    font-size: 1.5rem;
    width: 60%;
  }

  .Input {
    font-size: 1.3rem;
    width: 80%;
  }

  .Error {
    font-size: 1rem;
  }
}
